# Pyspark Dataframes

* Filter Operation
* &,|,==
* ~

importing all the data

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

In [6]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# Filter operations

find out the salaty of the people that less than or queal to 20k

In [9]:
df_pyspark.filter("salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

only showing some particular column

In [11]:
#I can prganaize the cells as i wanted
df_pyspark.filter("salary<=20000").select(['age','Name']).show()

+---+-------+
|age|   Name|
+---+-------+
| 29|  Sunny|
| 24|   Paul|
| 21| Harsha|
| 23|Shubham|
+---+-------+

using 2 conditions to filter a tab

In [14]:
df_pyspark.filter((df_pyspark['Experience']<= 4) & (df_pyspark['Experience']>= 2)).select(['age','Name', 'Experience']).show()

+---+-------+----------+
|age|   Name|Experience|
+---+-------+----------+
| 29|  Sunny|         4|
| 24|   Paul|         3|
| 23|Shubham|         2|
+---+-------+----------+

using or to filter

In [17]:
# | = means or in code
df_pyspark.filter((df_pyspark['Experience'] == 10) | (df_pyspark['Experience']<= 2)).select(['age','Name', 'Experience']).show()

+---+-------+----------+
|age|   Name|Experience|
+---+-------+----------+
| 31|  Krish|        10|
| 21| Harsha|         1|
| 23|Shubham|         2|
+---+-------+----------+

~ not operation

In [18]:
#~ = allows to filter all the values that dont match athe conditions
df_pyspark.filter(
    ~((df_pyspark['Experience'] == 10) | (df_pyspark['Experience']<= 2))).select(['age','Name', 'Experience']).show()

+---+---------+----------+
|age|     Name|Experience|
+---+---------+----------+
| 30|Sudhanshu|         8|
| 29|    Sunny|         4|
| 24|     Paul|         3|
+---+---------+----------+

# Pyspark GroupBy And Aggregate Functions

In [21]:
spark

In [20]:
df_pyspark2 = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [22]:
df_pyspark2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [23]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

# group by

groupBy() = 1st we group by a column  and then we make the performance, like sum, average etc.

In [25]:
df_pyspark2.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### group by deparment which have a mean salary

In [29]:
df_pyspark2.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [30]:
df_pyspark2.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [31]:
df_pyspark2.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### sum all the values in salary or aggregate

In [36]:
#Aggregate on the entire :class:`DataFrame` without groups
df_pyspark2.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+