In [ ]:
#installing pyspark library to run spark in python

In [1]:
!pip install pyspark
#we already install this library

Requirement already satisfied: pyspark in c:\users\hanns\anaconda3\envs\testing\lib\site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in c:\users\hanns\anaconda3\envs\testing\lib\site-packages (from pyspark) (0.10.9)

In [3]:
import pyspark

In [4]:
#Call the library to start the session
from pyspark.sql import SparkSession

In [5]:
#create an instance of spark
spark_runing = SparkSession.builder.appName('testing').getOrCreate()

In [6]:
spark_runing

In [1]:
import pandas as pd
demo_csv = pd.read_csv('test1.csv')
demo_csv.head(2)

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000

# read a dataset with spark

In [10]:
df_pyspark = spark_runing.read.csv('test1.csv')
#show a resume of what of its
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

With this command shows the whole table

In [9]:
#show the data
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [12]:
#une the title as title in the imported file
#option() = alows to consider the 1st row as header

df_pyspark_title = spark_runing.read.option('header','true').csv('test1.csv', inferSchema=True)

In [14]:
df_pyspark_title.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### type

In [15]:
#verifying the type in spark
type(df_pyspark_title)

pyspark.sql.dataframe.DataFrame

In [16]:
#verifying the type in pandas
type(demo_csv)

pandas.core.frame.DataFrame

In [18]:
#description of the dataset
#this prin only strings cause we dont assign a type when importing
df_pyspark_title.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

------------------------------------------------------------------------------------------------

# Pyspark Dataframe

* PySpark Dataframe
* Reading The Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns

In [19]:
#inferSchema = allows to got the datatype from thefile 
df_pyspark_title_inferSchema = spark_runing.read.option('header','true').csv('test1.csv', inferSchema=True)

In [21]:
df_pyspark_title_inferSchema.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [22]:
#Returns all column names as a list.
df_pyspark_title_inferSchema.columns

['Name', 'age', 'Experience', 'Salary']

In [23]:
#Returns the first ``n`` rows.
df_pyspark_title_inferSchema.head(2)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

# selecting

In [26]:
#selecting one column
df_pyspark_title_inferSchema.select('name').show()

+---------+
|     name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

selecting 2 columns

In [28]:
df_pyspark_title_inferSchema.select(['name','salary']).show()

+---------+------+
|     name|salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
|     Paul| 20000|
|   Harsha| 15000|
|  Shubham| 18000|
+---------+------+

cheking the data types

In [34]:
#show the data types
df_pyspark_title_inferSchema.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [36]:
#show the description in stadistics
df_pyspark_title_inferSchema.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

# adding column in spark

In [45]:
df_pyspark_add_column = df_pyspark_title_inferSchema.withColumn('experience after 2 years', df_pyspark_title_inferSchema['Experience']+2)

In [46]:
df_pyspark_add_column.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

# dropping the column

In [47]:
df_pyspark2 = df_pyspark_add_column .drop('experience after 2 years')

In [49]:
df_pyspark2.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# rename column

In [50]:
df_pyspark2.withColumnRenamed('name', 'xxx').show()

+---------+---+----------+------+
|      xxx|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

-----

# Pyspark Handling Missing Values

* Dropping Columns
* Dropping Rows
* Various Parameter In Dropping functionalities
* Handling Missing values by Mean, MEdian And Mode