# Pyspark Dataframes

* Filter Operation
* &,|,==
* ~

importing all the data

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

In [6]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# Filter operations

find out the salaty of the people that less than or queal to 20k

In [9]:
df_pyspark.filter("salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

only showing some particular column

In [11]:
#I can prganaize the cells as i wanted
df_pyspark.filter("salary<=20000").select(['age','Name']).show()

+---+-------+
|age|   Name|
+---+-------+
| 29|  Sunny|
| 24|   Paul|
| 21| Harsha|
| 23|Shubham|
+---+-------+

using 2 conditions to filter a tab

In [14]:
df_pyspark.filter((df_pyspark['Experience']<= 4) & (df_pyspark['Experience']>= 2)).select(['age','Name', 'Experience']).show()

+---+-------+----------+
|age|   Name|Experience|
+---+-------+----------+
| 29|  Sunny|         4|
| 24|   Paul|         3|
| 23|Shubham|         2|
+---+-------+----------+

using or to filter

In [17]:
# | = means or in code
df_pyspark.filter((df_pyspark['Experience'] == 10) | (df_pyspark['Experience']<= 2)).select(['age','Name', 'Experience']).show()

+---+-------+----------+
|age|   Name|Experience|
+---+-------+----------+
| 31|  Krish|        10|
| 21| Harsha|         1|
| 23|Shubham|         2|
+---+-------+----------+

~ not operation

In [18]:
#~ = allows to filter all the values that dont match athe conditions
df_pyspark.filter(
    ~((df_pyspark['Experience'] == 10) | (df_pyspark['Experience']<= 2))).select(['age','Name', 'Experience']).show()

+---+---------+----------+
|age|     Name|Experience|
+---+---------+----------+
| 30|Sudhanshu|         8|
| 29|    Sunny|         4|
| 24|     Paul|         3|
+---+---------+----------+